$main-color: black;
$font-color: #00CC00;


@font-face {
    font-family: "Fallout";
    src: url("/fonts/fallout.woff") format("woff"),
         url("/fonts/fallout.tff") format("tff");
  }


  /* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track { 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:$font-color; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $font-color; 
}
body{

    background-color: $main-color;
    color: $font-color;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    scrollbar-color: $main-color,$font-color;
    

    

    nav{
        width: 210px;
        height: 830px;
        border: 30px solid transparent;
        border-image: url("images/NAV-BORDER.png") 30 round;
        z-index: 15;
        position: relative;
        

        .nav-element{
            z-index: -1;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-family: "Fallout";

            
            .nav-element-position{
                margin: 1px;
                

                .buttontxt{
                    
                    width: 105px;
                    height: 35px;
                    
                }

                .buttonNav{
                    width: 25px;
                    height:33px;
                    
                }
            }
        }
        #head-img{
            top: -12px;
            left: -5px;
                img{
                    width: 220px;
                    height: 150px;
                    cursor: default;
                }
        }
        #up-panel{
           
            top: 150px;
            left:-15px;
            width: 239px;
            height: 210px;
            background-image:url("images/grid.jpg");
            position: relative;

            #clock{
                font-size: 35px;
                margin-top: -40px;
            }

            audio{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100px;
                height: 30px;
                background-color: #111e24;
                color: #a0276e;
                border-color: $font-color ;
                }

            #nav-element-CRtxt{
                display: block;
                position: absolute;
                text-align: right;
                bottom: 0;
                right: 5px;
            }
        }
        #menu{ 
            top: 365px;
            left: -25px;
            width: 255px;
            height: 235px;
            background-image: url("/Style/images/2222.png");
            background-size: 255px 235px;
            background-repeat: no-repeat;
        }

        #radio-img{
            top:590px;
            left: -25px;;
                img{
                    width: 250px;
                    height: 270px;
                    cursor: default;
            }
        }
    }


    #content-container{
        width: 70%;
        height: 95vh;
        margin-left: 10px;

            .header_content{
                font-family: "Fallout", 'Alegreya Sans', sans-serif;
                font-size: 40px;
                
            }
        
        
            header{
                width: 100%;
                height: 10%;
                border: 30px solid transparent;
                border-image: url("images/NAV-BORDER.png") 30 round;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;

                #acces{
                    padding-top: 10px;
                    
                    
                }

                #head-text{
                    font-size: 50px;
                    padding-top: 10px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid $font-color;
                    text-align: left;
                    width: 33%;
                    height: 27px;
                    
                }


                #VT-logo{
                    img{
                        width: 150px;
                    }
                }
            }       

             main{
                width: 100%;
                height: 80%;
                border: 30px solid transparent;
                border-image: url("images/NAV-BORDER.png") 30 round;

                iframe{
                    width:100%;
                    height: 100%;
                    border: none;
                    
                    
                    
                }
            }

    }

}

